@page
@model WebApplication1.Areas.Contacts.Pages.ContactListModel

@{
    ViewData["Title"] = "ContactList";
}

@* 

Page was generated using page scaffolding with Entity Framework Core

Karen 
    * modified to add Bootstrap icons and improve layout
    * Altered from showing ContactTypeIdentifier to show ContactTypeIdentifierNavigation.ContactTitle
*@

<script src="~/lib/debugHelper.js"></script>

<h1>Contacts</h1>


<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Create New
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].LastName)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].ContactTypeIdentifierNavigation.ContactTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contact)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ContactTypeIdentifierNavigation.ContactTitle)
                </td>
                <td>
    
                    <a href="@Url.Page("./Edit", new { id = item.ContactId })" title="Edit" class="me-2 text-decoration-none">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <a asp-page="./Details" asp-route-id="@item.ContactId" title="Details" class="me-2 text-decoration-none">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.ContactId" title="Delete" class="text-decoration-none text-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        document.addEventListener('keydown', function (event) {
            if (event.key === '1' && event.altKey && event.ctrlKey) {
                if (!document.getElementById("debugger-inline-style")) {
                    $debugHelper.addCss();
                } else {
                    $debugHelper.removeCss();
                }
            }
        });
    });

</script>