@page
@model WebApplication1.Areas.Contacts.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.ContactTypeIdentifierNavigation.ContactTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.ContactTypeIdentifierNavigation.ContactTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Contact.ContactId">Edit</a> |
    <a asp-page="./ContactList" class="btn btn-secondary">Back to list</a>
</div>
